.delete_btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  border: 2px solid orange;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;

  &:before,
  &:after {
    position: absolute;
    left: 12px;
    top: calc(50% - 10px);
    content: '';
    height: 20px;
    width: 2px;
    background-color: #585858;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover:before,
  &:hover:after {
    background-color: #ff0000;
  }
}