.button {
    padding: 10px 20px;
    margin: 20px 10px;
    color: orange;
    background-color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    &:hover {
        background-color: #22222c;
        border: 1px solid orange;
    }
}