.card {
  position: relative;
  width: 250px;
  height: 400px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: #2f3134;
  margin: 20px;
  font-weight: bold;
  color: white;

  &_image_box {
    filter: drop-shadow(0 0 3px rgba(100,0,0,0.5));
    margin-bottom: 10px;
  }

  &_image {
    width: 90%;
    margin-top: 12px;
  }

  &_info {
    color: orange;
    font-size: 20px;
  }

}



