.header {
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #000000;
  height: 120px;
  border-bottom: 2px solid #282c34;
  padding-top: 30px;
  flex: 1 0 auto;

  &_title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}